################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestDeployment/.vs/TestDeployment
/TestDeployment/WebAppGit/obj/Debug
/TestDeployment/WebAppGit/bin
